In [1]:
# Question 1

In [2]:
# in python you can comment any line by using '#' in the start of the line or you can use (''') for several lines

In [3]:
#Question 2

In [6]:
#in python a variable is assigned location in a system memory that stores a specific data we simply assign a name to a variable and by using 
 #operators we give value to the name can fill data in it for example (s = 20) here in this s is variable
#name that we have assigned and 20 is its value that we have given by using (=) operator
#and in python we dont ned to give variable type to the system python automatically gave type to its variables.

In [7]:
#Question 3 How do you convert one data type to another in Python?

In [9]:
#we simply use functions in python to convert data for example

In [11]:
a = 98

In [12]:
b = "98"

In [13]:
type(a)

int

In [14]:
type(b)

str

In [15]:
# 4 How do you write and execute a Python script from the command line

In [17]:
#first of all we need to create a new notebok in jupyter lab then wwe assign name to it and we save a file by putting (.jpynb) extension.

In [18]:
#5 Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [19]:
my_list = [1,2,3,4,5]

In [23]:
my_list[1:3]

[2, 3]

In [24]:
#6 What is a complex number in mathematics, and how is it represented in Python

In [27]:
#in mathematics complex number means where one number is real and othr number is imaginary for example 5+2j here 5 is real number and 2j is imaginary 
#and in python we can use onle J for the imaginory number.

In [28]:
#7 What is the correct way to declare a variable named age and assign the value 25 to it?

In [29]:
age = 25

In [30]:
#here we have given variable name age and assigned 25 value to it by using = opertor

In [31]:
#Q8 Declare a variable named price and assign the value 9.99 to it. What data type does this variable
#belong to?

In [32]:
price = 9.99

In [33]:
type(price)

float

In [34]:
#Q9 Create a variable named name and assign your full name to it as a string. How would you print the
#value of this variable?

In [35]:
name = "shahebaz saudagar"

In [36]:
type(name)

str

In [37]:
#Q10 . Given the string "Hello, World!", extract the substring "World".

In [38]:
s = "Hello, World"

In [46]:
s[6:12]

' World'

In [47]:
#Q11 . Create a variable named "is_student" and assign it a boolean value indicating whether you are
#currently a student or not.

In [48]:
is_student = True

In [49]:
type(is_student)

bool